.kQFW7T .container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

.kQFW7T .video-cont {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.kQFW7T .video-cont iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
